<div class="text-center con rounded-3">
    <h2>Details of Student {{student.firstName}} {{student.lastName}}</h2>
    <div class="d-inline-block mt-2 me-4">
        <table>
            <tr>
                <th class="head">ADMISSION NUMBER</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.admission_no}}</td>
            </tr>
            <tr>
                <th class="head">STUDENT ID</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.student_ID}}</td>
            </tr>
            <tr>
                <th class="head">FIRST NAME</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.firstName}}</td>
            </tr>
            <tr>
                <th class="head">DATE OF BIRTH</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.dob}}</td>
            </tr>
            <tr>
                <th class="head">MAJOR</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.major}}</td>
            </tr>
            <tr>
                <th>BATCH</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.batch}}</td>
            </tr>
            <tr>
                <th>PHONE NUMBER</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.mobile}}</td>
            </tr>
            <tr>
                <th>CURRENT ADDRESS</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.current_Address}}</td>
            </tr>
        </table>
    </div>
    <div class="d-inline-block mt-2 ms-4">
        <table>
            <tr>
                <th class="head">ADMISSION DATE</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.admission_date}}</td>
            </tr>
            <tr>
                <th class="head">Guardian Name</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.guardianName}}</td>
            </tr>
            <tr>
                <th class="head">LAST NAME</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.lastName}}</td>
            </tr>
            <tr>
                <th class="head">GENDER</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.gender}}</td>
            </tr>
            <tr>
                <th class="head">BRANCH</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.branch}}</td>
            </tr>
            <tr>
                <th class="head">Attendence</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.attendence}}%</td>
            </tr>
            <tr>
                <th class="head">EMAIL ID</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.email_ID}}</td>
            </tr>
            <tr>
                <th class="head">PERMANENT ADDRESS</th>
                <th>:</th>
                <td class="body fw-semibold">{{student.permanent_Address}}</td>
            </tr>
        </table>
    </div>
</div>