<div class="text-center outer">
    <img src="https://th.bing.com/th/id/OIP.kkyccPF2-_Uq1FUWVvGXHAHaEK?w=311&h=180&c=7&r=0&o=5&pid=1.7" width="100%" height="180rem">
    <h1 class="my-5 text-primary">ADMIN PAGE</h1>
    <div class="d-inline-block inner">
        <button type="button" class="btn btn-primary fw-semibold fs-5" routerLink="create-details">Enter Students</button>
    </div>
    <div class="d-inline-block inner">
        <button type="button" class="btn btn-primary fw-semibold fs-5" routerLink="student">View Students</button>
    </div>
</div>
